body {
    background-color: #22577E;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color: #CD1818;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;

}

ol, ul, img, p {
    display: block;
    max-width: 500px;
    margin: 0 auto;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li:last-child {
    float: right;
}

#navbar li:hover {
    background-color: black;
}

* {
    padding: 0;
    margin: 0;
}

table, tr, td {
    border: 1px solid black;
}

table {
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}

table th {
    background-color: #333;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: #d4d3d3;
}

.footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.form-register {
    position: static;
    margin-bottom: 100px;
}

.content-form {
    max-width: 70%;
    margin: auto;
}

.content-form h1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-bottom: 100px;
}

.form-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}